@model CMSPage
@{
    ViewBag.Title = "Удаление раздела";
    Layout = "~/Views/Shared/_Master.cshtml";
}
<h2>
    Удаление раздела "@Model.PageName"</h2>
<fieldset>
    <h4>
        Вы уверены, что хотите удалить этот раздел и все его подразделы?</h4>
    @using (Html.BeginForm())
    {
        <p>
            <input type="submit" value="Удалить" />
        </p>
    }
</fieldset>
<div class="backref">
    @Html.ActionLink("Назад к списку", "Index")
</div>
